<div>
  <p>
    <strong>Name:</strong>
    <%= produc.name %>
  </p>

  <p>
    <strong>Barcode:</strong>
    <%= produc.barcode %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= produc.price %>
  </p>

</div>
